
.classpath
.project
.settings/
.DS_Store
*.log
*/node_modules/
*/bower_components/
*/dist/
.tmp
.sass-cache
*/app/lib
.idea/
*.iws
*.iml
*/docs/
*/www/*
*/plugins/*
*/platforms/*
node_modules
bower_components
log/
target/